.text-newsreader{
  font-family: 'Newsreader', serif;
  font-size: 32px;
}

.text-navy{
  color: rgb(2, 2, 62);
}

.bg-image{
  background-image: url("https://images.unsplash.com/photo-1601388352547-2802c6f32eb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1963&q=80");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bg-mutedyellow{
  background-color: rgb(247, 247, 185);
}

